@import './functions.scss';
@import './spritesheets.scss';

.back-btn {
  width: 150px;
  margin-left: 0.5rem;
  z-index: 2;
  top: -1rem;
  transition: transform 100ms ease-in;

  &:hover {
    transform: scale(1.1);
    filter: brightness(120%);
  }
}

// .nav-sprite {
//     @include sprite-builder(
//       $ui, 
//       var(--img), 
//       0.25, 
//       "ui",
//       ("back")
//     );
// }