.dialog-box {
    display: flex;
    flex-direction: column;

    .dialog {
        padding: 0.5rem;
    }

    .choice-box {
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
    }

    .character-icon {
        width: 64px;
        height: 64px;
        background-color: rgba(100, 100, 0, 0.3);
        background-image: var(--character-sprites);
        background-size: 300px 300px;
        background-position: var(--background-position);
    }

    .collapsed {
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0.7);
        }
    }
    .accordion {
        * {
            transition: width 0.35s ease;
        }
    }
}
