@mixin sprite-builder($sheet, $img, $scale, $prefix, $sprites: ()) {
    $scaleX: 0;
    $scaleY: 0;
    // @if type-of($scale) != "number" {
    //     @error type-of($scale);
    // }

    @if type-of($scale) == "list" {
        $scaleX: nth($scale, 1);
        $scaleY: nth($scale, 2);
    } @else {
        $scaleX: $scale;
        $scaleY: $scale;
    }
    @each $spriteName, $char in map-get($sheet, "sprites") {
        @if index($sprites, $spriteName) or length($sprites) == 0 {
            // @if length($sprites) != 0 {@error #{$sprites};}
            &.#{$prefix}_#{$spriteName} {
                background-image: $img;
                background-size: #{map-get($sheet, "w") * $scaleX} #{map-get($sheet, "h") * $scaleY};
                background-position: #{map-get($char, "x") * $scaleX} #{map-get($char, "y") * $scaleY};
                width: #{map-get($char, "w") * $scaleX};
                height: #{map-get($char, "h") * $scaleY};
            }
        }
    }
}