@mixin sprite-builder($sheet, $img, $scale, $prefix, $sprites: ()) {
    $scaleX: 0;
    $scaleY: 0;

    @if type-of($scale) == "list" {
        $scaleX: nth($scale, 1);
        $scaleY: nth($scale, 2);
    } @else {
        $scaleX: $scale;
        $scaleY: $scale;
    }
    @each $spriteName, $char in map-get($sheet, "sprites") {
        @if index($sprites, $spriteName) or length($sprites) == 0 {
            &.#{$prefix}_#{$spriteName} {
                --sprite-width: 100%;
                background-image: $img;
                background-size: #{(100 * map-get($sheet, "w") / map-get($char, "w")) * 1%};
                background-position: 
                    #{((100*map-get($char, "x")/map-get($char, "w"))/((map-get($sheet, "w")/map-get($char, "w"))-1)) * 1%} 
                    #{((100*map-get($char, "y")/map-get($char, "h"))/((map-get($sheet, "h")/map-get($char, "h"))-1)) * 1%};
                width: var(--sprite-width);
                height: 0;
                padding-bottom: calc(var(--sprite-width) * #{(map-get($char, "h") / map-get($char, "w"))});
            }
        }
    }
}