@import './functions.scss';
@import './spritesheets.scss';

#search {
  position: relative;
  width: 50%;
  max-width: 25rem;
  display: flex;
  align-items: center;
  z-index: 3;
  
  img {
    filter: invert(1);
    width: 3rem;
    margin-left: 5%;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5px;
    color: white;
    font-size: 30pt;
    min-width: 0;
    z-index: 2;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      background-image: var(--cross);
      filter: invert(1);
    }

    &:focus ~ #searchResults {
      display: flex!important;
    }
  }
  &:hover {
    #searchResults {
    display: flex!important;
    }
  }
  #searchResults {
    display: none;
    flex-direction: column;
    align-items: stretch;
    text-align: start;

    position: absolute;
    top: calc(100% + 0.2rem);
    left: 4%;

    width: calc(100% - 4%);
    box-sizing: border-box;
    border: 5px solid #CCC;
    background-color: white;
  }
}
