@import './functions.scss';
@import './spritesheets.scss';

#search {
  display: flex;
  z-index: 3;

  &.nav-sprite {
      @include sprite-builder(
        $ui, 
        var(--img), 
        (0.5, 0.2), 
        "ui",
        ("textbox-black")
      );
  }
  img {
    filter: invert(1);
    margin: 5px;
    margin-left: 2.5rem;
  }
  input {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    color: white;
    font-size: 30pt;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      background-image: var(--cross);
      filter: invert(1);
    }

    &:focus ~ #searchResults {
      display: flex!important;
    }
  }
  #searchResults {
    display: none;
    flex-direction: column;
    align-items: stretch;
    text-align: start;

    position: absolute;
    top: calc(100% + 0.2rem);
    left: 2rem;

    width: calc(100% - 2rem);
    box-sizing: border-box;
    border: 5px solid #CCC;
    background-color: red;
  }
}
