$characters: (
    prom: (
        w: 2048,
        h: 2048,
        sprites: (
            narrator: (
                x: 724,
                y: 1352,
                w: 360,
                h: 320
            ),
            miranda: (
                x: 2,
                y: 161,
                w: 347,
                h: 422
            ),
            damien: (
                x: 410,
                y: 1262,
                w: 302,
                h: 418
            ),
            scott: (
                x: 1560,
                y: 284,
                w: 333,
                h: 417
            ),
            liam: (
                x: 415,
                y: 436,
                w: 369,
                h: 408
            ),
            polly: (
                x: 1456,
                y: 1196,
                w: 358,
                h: 474
            ),
            vera: (
                x: 0,
                y: 595,
                w: 403,
                h: 402
            ),
            prince: (
                x: 795,
                y: 521,
                w: 425,
                h: 397
            ),
            coach: (
                x: 1232,
                y: 712,
                w: 466,
                h: 472
            ),
            blobert: (
                x: 724,
                y: 930,
                w: 404,
                h: 412
            ),
            valerie: (
                x: 1096,
                y: 1632,
                w: 349,
                h: 414
            ),
            slayer: (
                x: 2,
                y: 1008,
                w: 357,
                h: 325
            ),
            wolfpack: (
                x: 2,
                y: 1344,
                w: 396,
                h: 349
            ),
            hope: (
                x: 410,
                y: 1692,
                w: 343,
                h: 354
            ),
            joy: (
                x: 1457,
                y: 1680,
                w: 355,
                h: 366
            ),
            faith: (
                x: 1088,
                y: 1224,
                w: 362,
                h: 382
            )
        )
    )
);

$ui: (
    w: 2048,
    h: 2048,
    sprites: (
        back: (
            x: 1,
            y: 143,
            w: 430,
            h: 231
        ),
        cursor-yellow: (
            x: 1677,
            y: 1713,
            w: 136,
            h: 70
        ),
        cursor-red: (
            x: 0,
            y: 1128,
            w: 136,
            h: 70
        ),
        cursor-green: (
            x: 1617,
            y: 745,
            w: 136,
            h: 70
        ),
        cursor-blue: (
            x: 145,
            y: 1128,
            w: 135,
            h: 70
        ),
        cursor-black: (
            x: 1617,
            y: 825,
            w: 135,
            h: 70
        ),
        cursor-white: (
            x: 142,
            y: 62,
            w: 136,
            h: 70
        ),
        textbox-lightblue: (
            x: 7,
            y: 385,
            w: 797,
            h: 160
        ),
        textbox-blue: (
            x: 7,
            y: 561,
            w: 797,
            h: 160
        ),
        textbox-lightred: (
            x: 7,
            y: 737,
            w: 797,
            h: 160
        ),
        textbox-red: (
            x: 7,
            y: 913,
            w: 797,
            h: 160
        ),
        textbox-lightyellow: (
            x: 815,
            y: 561,
            w: 797,
            h: 160
        ),
        textbox-yellow: (
            x: 815,
            y: 737,
            w: 797,
            h: 160
        ),
        textbox-salmon: (
            x: 815,
            y: 913,
            w: 797,
            h: 160
        ),
        textbox-lightgreen: (
            x: 1217,
            y: 1097,
            w: 797,
            h: 160
        ),
        textbox-green: (
            x: 1217,
            y: 1273,
            w: 797,
            h: 160
        ),
        textbox-black: (
            x: 12,
            y: 1701,
            w: 1655,
            h: 334
        ),
        arrow-down: (
            x: 286,
            y: 54,
            w: 78,
            h: 78
        ),
        arrow-up: (
            x: 541,
            y: 297,
            w: 78,
            h: 78
        )
    )
);

$stats: (
    w: 2048,
    h: 1024,
    sprites: (
        smart: (
            x: 0,
            y: 112,
            w: 148,
            h: 148
        ),
        bold: (
            x: 192,
            y: 136,
            w: 148,
            h: 148
        ),
        charming: (
            x: 192,
            y: 295,
            w: 148,
            h: 148
        ),
        creative: (
            x: 851,
            y: 536,
            w: 149,
            h: 148
        ),
        fun: (
            x: 532,
            y: 688,
            w: 148,
            h: 148
        ),
        wealthy: (
            x: 1056,
            y: 873,
            w: 148,
            h: 148
        ),
        not-smart: (
            x: 516,
            y: 328,
            w: 148,
            h: 148
        ),
        not-bold: (
            x: 556,
            y: 512,
            w: 148,
            h: 148
        ),
        not-charming: (
            x: 672,
            y: 348,
            w: 152,
            h: 156
        ),
        not-creative: (
            x: 848,
            y: 692,
            w: 151,
            h: 152
        ),
        not-fun: (
            x: 672,
            y: 192,
            w: 148,
            h: 148
        ),
        not-wealthy: (
            x: 1008,
            y: 696,
            w: 148,
            h: 148
        ),
        so-smart: (
            x: 830,
            y: 168,
            w: 148,
            h: 172
        ),
        so-bold: (
            x: 376,
            y: 664,
            w: 148,
            h: 172
        ),
        so-charming: (
            x: 376,
            y: 848,
            w: 156,
            h: 176
        ),
        so-creative: (
            x: 352,
            y: 304,
            w: 156,
            h: 172
        ),
        so-fun: (
            x: 684,
            y: 668,
            w: 156,
            h: 172
        ),
        so-wealthy: (
            x: 732,
            y: 854,
            w: 156,
            h: 170
        ),
        not-so-smart: (
            x: 0,
            y: 456,
            w: 161,
            h: 172
        ),
        not-so-bold: (
            x: 192,
            y: 456,
            w: 149,
            h: 172
        ),
        not-so-charming: (
            x: 0,
            y: 268,
            w: 184,
            h: 177
        ),
        not-so-creative: (
            x: 376,
            y: 484,
            w: 169,
            h: 172
        ),
        not-so-fun: (
            x: 896,
            y: 852,
            w: 152,
            h: 172
        ),
        not-so-wealthy: (
            x: 540,
            y: 852,
            w: 182,
            h: 172
        ),
    )
);