$characters: (
    prom: (
        w: 4096,
        h: 2048,
        sprites: (
            norah: (
                x: 2,
                y: 361,
                w: 322,
                h: 394
            ),
            scott: (
                x: 7,
                y: 1195,
                w: 332,
                h: 417
            ),
            miranda: (
                x: 2,
                y: 1624,
                w: 347,
                h: 422
            ),
            damien: (
                x: 337,
                y: 380,
                w: 301,
                h: 418
            ),
            violet: (
                x: 316,
                y: 810,
                w: 353,
                h: 384
            ),
            faith: (
                x: 360,
                y: 1236,
                w: 364,
                h: 384
            ),
            valerie: (
                x: 361,
                y: 1632,
                w: 349,
                h: 414
            ),
            shopkeeper: (
                x: 361,
                y: 1632,
                w: 349,
                h: 414
            ),
            narrator: (
                x: 650,
                y: 164,
                w: 360,
                h: 319
            ),
            narratorbody: (
                x: 650,
                y: 164,
                w: 360,
                h: 319
            ),
            calculester: (
                x: 675,
                y: 495,
                w: 341,
                h: 341
            ),
            firstcalculester: (
                x: 675,
                y: 495,
                w: 341,
                h: 341
            ),
            hope: (
                x: 675,
                y: 848,
                w: 343,
                h: 354
            ),
            oldhope1: (
                x: 675,
                y: 848,
                w: 343,
                h: 354
            ),
            oldhope2: (
                x: 675,
                y: 848,
                w: 343,
                h: 354
            ),
            oldhope3: (
                x: 675,
                y: 848,
                w: 343,
                h: 354
            ),
            dmitri: (
                x: 735,
                y: 1214,
                w: 365,
                h: 366
            ),
            amira: (
                x: 735,
                y: 1591,
                w: 303,
                h: 455
            ),
            brian: (
                x: 1022,
                y: 128,
                w: 286,
                h: 356
            ),
            slayer: (
                x: 1030,
                y: 567,
                w: 358,
                h: 325
            ),
            hunter: (
                x: 1030,
                y: 567,
                w: 358,
                h: 325
            ),
            aaravi: (
                x: 1030,
                y: 567,
                w: 358,
                h: 325
            ),
            pheel: (
                x: 1112,
                y: 903,
                w: 361,
                h: 351
            ),
            wolfpack: (
                x: 1050,
                y: 1698,
                w: 396,
                h: 348
            ),
            oz: (
                x: 1399,
                y: 441,
                w: 287,
                h: 388
            ),
            tate: (
                x: 1484,
                y: 840,
                w: 297,
                h: 423
            ),
            joy: (
                x: 1480,
                y: 1275,
                w: 356,
                h: 365
            ),
            coven: (
                x: 1480,
                y: 1275,
                w: 356,
                h: 365
            ),
            violetandtate: (
                x: 2050,
                y: 173,
                w: 353,
                h: 458
            ),
            couple: (
                x: 2050,
                y: 173,
                w: 353,
                h: 458
            ),
            fellowstudent: (
                x: 2048,
                y: 643,
                w: 408,
                h: 425
            ),
            dahlia: (
                x: 2050,
                y: 1079,
                w: 414,
                h: 449
            ),
            vicky: (
                x: 2052,
                y: 1586,
                w: 497,
                h: 462
            ),
            vera: (
                x: 2409,
                y: 228,
                w: 407,
                h: 404
            ),
            prince: (
                x: 2462,
                y: 643,
                w: 425,
                h: 397
            ),
            polly: (
                x: 2476,
                y: 1052,
                w: 366,
                h: 474
            ),
            blobert: (
                x: 2638,
                y: 1596,
                w: 405,
                h: 413
            ),
            evilfaith: (
                x: 2899,
                y: 342,
                w: 403,
                h: 386
            ),
            evilhope: (
                x: 2899,
                y: 734,
                w: 414,
                h: 396
            ),
            zoe: (
                x: 3090,
                y: 1142,
                w: 429,
                h: 422
            ),
            coach: (
                x: 3090,
                y: 1575,
                w: 466,
                h: 471
            ),
            bellanda: (
                x: 3314,
                y: 281,
                w: 367,
                h: 418
            ),
            leonard: (
                x: 3325,
                y: 711,
                w: 382,
                h: 414
            ),
            liam: (
                x: 3692,
                y: 292,
                w: 369,
                h: 407
            ),
            fellowstudentcap: (
                x: 3557,
                y: 1136,
                w: 422,
                h: 445
            ),
            kale: (
                x: 3568,
                y: 1587,
                w: 433,
                h: 459
            )
        )
    )
);

$ui: (
    w: 2048,
    h: 2048,
    sprites: (
        back: (
            x: 1,
            y: 143,
            w: 430,
            h: 231
        ),
        cursor-yellow: (
            x: 1677,
            y: 1713,
            w: 136,
            h: 70
        ),
        cursor-red: (
            x: 0,
            y: 1128,
            w: 136,
            h: 70
        ),
        cursor-green: (
            x: 1617,
            y: 745,
            w: 136,
            h: 70
        ),
        cursor-blue: (
            x: 145,
            y: 1128,
            w: 135,
            h: 70
        ),
        cursor-black: (
            x: 1617,
            y: 825,
            w: 135,
            h: 70
        ),
        cursor-white: (
            x: 142,
            y: 62,
            w: 136,
            h: 70
        ),
        textbox-lightblue: (
            x: 7,
            y: 385,
            w: 797,
            h: 160
        ),
        textbox-blue: (
            x: 7,
            y: 561,
            w: 797,
            h: 160
        ),
        textbox-lightred: (
            x: 7,
            y: 737,
            w: 797,
            h: 160
        ),
        textbox-red: (
            x: 7,
            y: 913,
            w: 797,
            h: 160
        ),
        textbox-lightyellow: (
            x: 815,
            y: 561,
            w: 797,
            h: 160
        ),
        textbox-yellow: (
            x: 815,
            y: 737,
            w: 797,
            h: 160
        ),
        textbox-salmon: (
            x: 815,
            y: 913,
            w: 797,
            h: 160
        ),
        textbox-lightgreen: (
            x: 1217,
            y: 1097,
            w: 797,
            h: 160
        ),
        textbox-green: (
            x: 1217,
            y: 1273,
            w: 797,
            h: 160
        ),
        textbox-black: (
            x: 12,
            y: 1701,
            w: 1655,
            h: 334
        ),
        arrow-down: (
            x: 286,
            y: 54,
            w: 78,
            h: 78
        ),
        arrow-up: (
            x: 541,
            y: 297,
            w: 78,
            h: 78
        )
    )
);

$stats: (
    w: 2048,
    h: 1024,
    sprites: (
        smart: (
            x: 0,
            y: 112,
            w: 148,
            h: 148
        ),
        bold: (
            x: 192,
            y: 136,
            w: 148,
            h: 148
        ),
        charming: (
            x: 192,
            y: 295,
            w: 148,
            h: 148
        ),
        creative: (
            x: 851,
            y: 536,
            w: 149,
            h: 148
        ),
        fun: (
            x: 532,
            y: 688,
            w: 148,
            h: 148
        ),
        wealthy: (
            x: 1056,
            y: 873,
            w: 148,
            h: 148
        ),
        not-smart: (
            x: 516,
            y: 328,
            w: 148,
            h: 148
        ),
        not-bold: (
            x: 556,
            y: 512,
            w: 148,
            h: 148
        ),
        not-charming: (
            x: 672,
            y: 348,
            w: 152,
            h: 156
        ),
        not-creative: (
            x: 848,
            y: 692,
            w: 151,
            h: 152
        ),
        not-fun: (
            x: 672,
            y: 192,
            w: 148,
            h: 148
        ),
        not-wealthy: (
            x: 1008,
            y: 696,
            w: 148,
            h: 148
        ),
        so-smart: (
            x: 830,
            y: 168,
            w: 148,
            h: 172
        ),
        so-bold: (
            x: 376,
            y: 664,
            w: 148,
            h: 172
        ),
        so-charming: (
            x: 376,
            y: 848,
            w: 156,
            h: 176
        ),
        so-creative: (
            x: 352,
            y: 304,
            w: 156,
            h: 172
        ),
        so-fun: (
            x: 684,
            y: 668,
            w: 156,
            h: 172
        ),
        so-wealthy: (
            x: 732,
            y: 854,
            w: 156,
            h: 170
        ),
        not-so-smart: (
            x: 0,
            y: 456,
            w: 161,
            h: 172
        ),
        not-so-bold: (
            x: 192,
            y: 456,
            w: 149,
            h: 172
        ),
        not-so-charming: (
            x: 0,
            y: 268,
            w: 184,
            h: 177
        ),
        not-so-creative: (
            x: 376,
            y: 484,
            w: 169,
            h: 172
        ),
        not-so-fun: (
            x: 896,
            y: 852,
            w: 152,
            h: 172
        ),
        not-so-wealthy: (
            x: 540,
            y: 852,
            w: 182,
            h: 172
        )
    )
);
